<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Swiper demo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
  <!-- Link Swiper's CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
  <!-- Demo styles -->
  <style>
    html,

    body {
      font-size: 10px;
      color: #FAF9F7;
      margin: 0;
      padding: 0px 0px;
    }

    body {
      background: #FAF9F7;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0px 0px;
    }

    html,
    body {
      position: relative;

    }

    body {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper {
      width: 320px;
      height: 420px;
      display: flex;
      justify-content: space-around;
      position: relative;
      bottom: 0px;
    }

    @media (max-width: 1600px) {
      .swiper {
        width: 280px;
        height: 380px;
        bottom: 330px;
      }
    }

    @media (max-width: 1350px) {
      .swiper {
        width: 240px;
        height: 320px;
        bottom: 215px;
      }
    }
    @media (max-width: 440px) {
      .swiper {
        width: 200px;
        height: 250px;
        bottom: 0px;
      }
    }

    .swiper-slide {
      display: flex;
      border-radius: 4px;
      padding: 20px 10px;
      margin-bottom: 40px;
      font-family: 'Inter';
      font-weight: 300;
      color: #fff;
    }

    .active-card-text {
      display: flex;
      justify-content: space-between;
      transform: translateY(-50%);
      padding: 10px;
      position: absolute;
    }

    .active-card-left {
      position: relative;
      top: 250px;
    }

    .active-card-right {
      position: relative;
      top: 250px;
      left: 660px;
    }

    .active-card-text-mobile {
      display: none;
    }

    @media (max-width: 1600px) {
      .active-card-text {
        position: inherit;
      }
    }

    @media (max-width: 1350px) {
      .active-card-text {
        position: inherit;
      }
    }


    @media (max-width: 920px) {
      .active-card-text {
        display: none;
      }
      .active-card-text-mobile {
        display: block;
        text-align: center;
      }
    }

    .swiper-slide:nth-child(1n) {
      background-color: #521945;
    }

    .swiper-slide:nth-child(2n) {
      background-color: #CC978E;
    }

    .swiper-slide:nth-child(3n) {
      background-color: #912F56;
    }

    .swiper-slide:nth-child(4n) {
      background-color: #0C4767;
    }

    .swiper-slide:nth-child(5n) {
      background-color: #808F85;
    }

    .arrow-path {
      fill: none;
      stroke: #FAF9F7;
      stroke-width: 2;
      stroke-dasharray: 200;
      stroke-dashoffset: 200;
      animation: drawLine 2s linear infinite, arrowAppear 2s linear infinite;
    }

    .arrow-line-upper {
      fill: none;
      stroke: #FAF9F7;
      stroke-width: 2;
      stroke-dasharray: 200;
      stroke-dashoffset: 200;
      animation: drawLine 2s linear infinite, arrowAppear 3s linear infinite;
    }
    .arrow-line-lower {
      fill: none;
      stroke: #FAF9F7;
      stroke-width: 2;
      stroke-dasharray: 200;
      stroke-dashoffset: 200;
      animation: drawLine 2s linear infinite, arrowAppear 3s linear infinite;
    }

    .highlight-container, .highlight {
      position: relative;
    }

    .highlight-container {
      display: inline-block;
    }
    .highlight-container:before {
      content: " ";
      display: block;
      height: 90%;
      width: 105%;
      margin-left: -3px;
      margin-right: -3px;
      position: absolute;
      background: #EAC435;
      transform: rotate(2deg);
      top: -1px;
      left: -1px;
      border-radius: 20% 25% 20% 24%;
      padding: 10px 3px 3px 10px;
    }

    .highlight-container2, .highlight2 {
      position: relative;
    }

    .highlight-container2 {
      display: inline-block;
    }
    .highlight-container2:before {
      content: " ";
      display: block;
      height: 90%;
      width: 120%;
      margin-left: -3px;
      margin-right: -3px;
      position: absolute;
      background: #295F7B;
      transform: rotate(2deg);
      top: -1px;
      left: -1px;
      border-radius: 20% 25% 20% 24%;
      padding: 10px 3px 3px 10px;
    }

    .additional-text-container {
      display: none;
      border-radius: 10rem;
      background: #CC978E;
      opacity: 0.8;
      padding: 10px 10px;
      width: 450px;
    }


    .link-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 10px;
      padding-left: 6px;
      color: white;
    }

    .link-container a {
      color: #b0b1b2;
      text-decoration: none;
    }


    .scrolling-text-container {
      display: flex;
      color: #F74C20;
      border-radius: 10rem;
      align-items: center;
      overflow: hidden;
      width: 349px;
      padding: 5px 10px;
      background: #FAF9F7;
    }

    .scrolling-text-link {
      animation: scrollText 105s linear infinite;
      animation-delay: -45s;
      white-space: nowrap;
    }

    #container-fc {
      display: none;
    }

    #container-fc > .content-fc {
      float: left;
      height: 500px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      position: absolute;
    }

    /* Arrow */

    .arrow-fc {
      position: relative;
      margin: 0 auto;
      width: 100px;
      left: 650px;
      top: 404px
    }

    .arrow-fc .curve-fc {
      border: 2px solid #919191;
      border-color: transparent transparent transparent #919191;
      transform:rotate(37deg);
      height: 97px;
      width: 99px;
      border-radius: 133px 0 0 223px;
      opacity: 0;
      animation: fadeInCurve 1s linear forwards;
    }

    .arrow-fc .point-fc {
      position: absolute;
      left: 8px;
      top: 56px;
      opacity: 0;
      animation: fadeInPoints 1s linear forwards;
    }

    .arrow-fc .point-fc:before, .arrow-fc .point-fc:after {
      border: 1.3px solid #212529;
      border-radius: 3px;
      height: 25px;
      content: "";
      position: absolute;
      opacity: 0;
    }

    .arrow-fc .point-fc:before {
      top: -11px;
      left: -10px;
      transform:rotate(-74deg);
      opacity: 0;
      animation: fadeInBeforePoint 1s linear forwards;
    }

    .custom-list {
      list-style-type: none;
    }

    .custom-list li::before {
      content: "\2022";
      color: #f74c20;
      font-size: 14px;
      margin-right: 10px;
    }


    @keyframes fadeInBeforePoint {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    .arrow-fc .point-fc:after {
      top: -20px;
      left: 5px;
      transform:rotate(12deg);
      opacity: 0;
      animation: fadeInAfterPoint 1s linear forwards;
    }

    @keyframes fadeInAfterPoint {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    @keyframes fadeInPoints {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    @keyframes fadeInCurve {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    @keyframes scrollText {
      0% {
        transform: translateX(100%);
      }
      100% {
        transform: translateX(-100%);
      }
    }

    @keyframes drawLine {
      0% {
        stroke-dashoffset: 200;
      }
      100% {
        stroke-dashoffset: 0;
      }
    }

    @keyframes fade {
      0%, 49.9% {
        opacity: 0;
      }
      50%, 100% {
        opacity: 1;
      }
    }

    @keyframes arrowAppear {
      0%, 49.9% {
        transform: translateY(0);
      }
      50%, 100% {
        transform: translateY(0);
      }
    }

    @media (max-width: 1600px) {
      .additional-text-container {
        padding: 8px 10px;
        width: 400px;
      }
      .scrolling-text-container {
        width: 299px;
      }
    }

    @media (max-width: 1350px) {
      .additional-text-container {
        padding: 8px 10px;
        width: 350px;
      }
      .scrolling-text-container {
        padding: 2px 10px;
        width: 260px;
      }
    }


    @media (max-width: 920px) {
      .additional-text-container {
        display: none;
      }
      .scrolling-text-container {
        padding: 0px 10px;
      }
    }

    @media (max-width: 1600px) {
      .arrow-fc {
        left: 436px;
        top: -93px;
      }
    }
    @media (max-width: 1350px) {
      .arrow-fc {
        left: 436px;
        top: -54px;
      }
    }


  </style>
</head>

<body>
  <!-- Swiper -->
  <div class="active-card-text">
    <div class="container active-card-text-left text-left md:ml-[5rem] md:max-w-[370px] md:min-x-[299px] 2xl:max-w-[400px] 3xl:ml-[10rem] 3xl:relative 3xl:top-[180px] 3xl:left-[60px]">
      <span class="highlight-container font-title uppercase md:text-[20px] md:text-bold 2xl:text-[28px] 3xl:text-[32px]"><span class="highlight"><%= t('achievements') %></span></span><br>
      <span class="uppercase text-[12px] mt-4 2xl:text-[16px] 2xl:pt-8 3xl:text-[19px]" id="activeCardTextLeft">Discover the accomplishments I've attained over my 6-year career and the progression that has steered me into Product Management<span class="block h-[4rem] md:h-[8rem] 2xl:h-[11.6rem] 3xl:h-[14.6rem]"></span></span>
    </div>
    <div class="active-card-text-right text-left md:max-w-[370px] md:min-x-[299px] 2xl:max-w-[400px] 3xl:mr-[10rem] 3xl:max-w-[480px] 3xl:relative 3xl:top-[180px] 3xl:left-[660px]">
      <span class="highlight-container2 font-title uppercase md:text-[20px] md:text-bold 2xl:text-[28px]"><span class="highlight2 text-backgroundcolor"><%= t('skills') %></span></span><br>
      <span class="uppercase text-[12px] mt-4 2xl:text-[16px] 2xl:pt-8 3xl:text-[19px]" id="activeCardTextRight" >Analytical skills, strong communication, problem-solving abilities... I'm well-positioned for success as a Product Manager<span class="block h-[4rem] md:h-[8rem] 2xl:h-[11.6rem] 3xl:h-[14.6rem]"></span></span>
    </div>
  </div>
  <div id="container-fc">
    <div class="content-fc">
      <div class="arrow-fc">
        <div class="curve-fc"></div>
        <div class="point-fc"></div>
      </div>
    </div>
  </div>

  <div class="active-card-text-mobile">
    <div class="mb-0 md:mb-[24rem] lg:mb-8">
      <span class="highlight-container font-title uppercase font-bold"><span class="highlight">Achievements:</span></span><br>
      <div class="min-h-[70px] text-[10px] my-4 md:uppercase md:text-[12px]">
        <span id="activeCardTextLeftMobile">Discover the accomplishments I've attained over my 6-year career and the progression that has steered me into Product Management <p class="text-backgroundcolor">addressed user needs with custom features, built a community of 40 chefs, engaged 1000+ users via social media and newsletters</p></span>
      </div>
    </div>
  </div>
  <div class="swiper mySwiper xmd:mt-[50px] lg:mt-[-120px]">
    <div class="swiper-wrapper text-center">
      <div class="swiper-slide">
        <div class="flex flex-col">
          <div class="4xsm:text-[14px] md:text-[18px] px-4 2xl:text-[20px]">
            <span>
              <%= t('slide1-title') %>
            </span>
          </div>
          <div class="arrow-container 4xsm:pt-[7rem] 4xsm:pl-[2rem] md:pt-36 md:pl-16 2xl:pt-52 2xl:pl-32">
            <svg class="arrow-svg" width="120" height="60" viewBox="0 0 120 60" xmlns="http://www.w3.org/2000/svg">
              <path class="arrow-path" d="M10 30 Q40 25, 100 30" />
              <line class="arrow-line-upper" x1="100" y1="20" x2="115" y2="30" />
              <line class="arrow-line-lower" x1="100" y1="40" x2="115" y2="30" />
            </svg>
          </div>
        </div>
      </div>
      <div class="swiper-slide 4xsm:text-[12px] md:text-[15px] 2xl:text-[18px]">
        <div class="flex flex-col justify-between">
          <div>
            <%= t('slide2-title.title') %>
          </div>
          <div class="mx-auto 4xsm:h-24 4xsm:w-24 md:h-[9rem] md:w-28 2xl:h-[14rem] 2xl:w-[13rem]"><%= image_tag ("Logo-fc.png") %></div>
          <div class="4xsm:text-[12px] md:text-[14px] 2xl:text-[16px]">
            <%= t('slide2-title.position') %>
          </div>
        </div>
      </div>
      <div class="swiper-slide 4xsm:text-[12px] md:text-[15px] 2xl:text-[18px]">
        <div class="flex flex-col justify-between">
          <div class="px-4">
            <%= t('slide3-title.title') %>
          </div>
          <div class="mx-auto 4xsm:h-[5rem] 4xsm:w-[12rem] md:h-44 md:w-44 md:pt-12 2xl:h-[15rem] 2xl:w-[20rem]"><%= image_tag ("KPMG.png") %></div>
          <div class="4xsm:text-[12px] md:text-[14px] md:pb-4 2xl:text-[16px]">
            <%= t('slide3-title.position') %>
          </div>
        </div>
      </div>
      <div class="swiper-slide 4xsm:text-[12px] md:text-[15px] 2xl:text-[18px]">
        <div class="uppercase flex flex-col justify-between 3xl:px-4">
          <div>
            <%= t('slide4-title.title') %>
          </div>
          <div class="mx-auto 4xsm:h-[3rem] 4xsm:w-[12rem] md:h-[9rem] md:w-64 md:pt-12 2xl:h-[12rem] 2xl:w-[23rem]"><%= image_tag ("BNP.png") %></div>
          <div class="4xsm:text-[12px] md:text-[14px] md:pb-4 2xl:text-[16px]">
            <%= t('slide4-title.position') %>
          </div>
        </div>
      </div>
      <div class="swiper-slide 4xsm:text-[12px] md:text-[15px] 2xl:text-[18px]">
        <div class="uppercase flex flex-col justify-between">
          <div>
            <%= t('slide5-title.title') %>
          </div>
          <hr>
          <div class="4xsm:text-[12px] md:text-[14px] md:pb-4 2xl:text-[16px]">
            <%= t('slide5-title.position') %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="active-card-text-mobile">
    <div class="active-card-text-right mt-8 md:mt-[-15rem]">
      <span class="highlight-container2 font-title uppercase font-bold"><span class="highlight2 text-backgroundcolor">Skills:</span></span><br>
      <div class="min-h-[70px] text-[10px] my-4">
        <span id="activeCardTextRightMobile" >Analytical skills, strong communication, problem-solving abilities... I'm well-positioned for success as a Product Manager <p class="text-backgroundcolor">addressed user needs with custom features, built a community of 40 chefs, engaged 1000+ users via social media and newsletters</p></span>
      </div>
    </div>
  </div>
  <div class="additional-text-container font-title md:text-[12px] absolute md:bottom-[91rem] md:left-[46rem] mx-auto md:text-bold 2xl:bottom-[100rem] 2xl:left-[62rem] 3xl:left-[78rem]" id="additionalTextContainer">
    <div class="flex justify-center">
      <div class="scrolling-text-container 2xl:text-[20px] font-bold">
        <p class="scrolling-text-link"><span class="px-4 py-2">https://www.foodclass.fr</span>
        <span class="px-4 py-2">https://www.foodclass.fr</span>
        <span class="px-4 py-2">https://www.foodclass.fr</span>
        <span class="px-4 py-2">https://www.foodclass.fr</span>
        <span class="px-4 py-2">https://www.foodclass.fr</span>
        <span class="px-4 py-2">https://www.foodclass.fr</span>
        <span class="px-4 py-2">https://www.foodclass.fr</span>
        <span class="px-4 py-2">https://www.foodclass.fr</span>
        <span class="px-4 py-2">https://www.foodclass.fr</span>
        <span class="px-4 py-2">https://www.foodclass.fr</span>
        <span>https://www.foodclass.fr</span></p>
      </div>
      <a href="https://www.foodclass.fr" target="_blank" class="link-container uppercase text-title 2xl:text-[20px]">visit</a>
    </div>
  </div>
  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".mySwiper", {
      effect: "cards",
      grabCursor: true,
      on: {
        slideChange: function () {
          // Array of text for each slide
          var slideTextsLeft = [
            `Discover the accomplishments I've attained over my 6-year career and the progression that has steered me into Product Management
            <span class="block h-[4rem] md:h-[8rem] 2xl:h-[11.6rem] 3xl:relative"></span>`,
            `<div class="4xsm:block md:hidden 3xl:top-[80px]">
              <strong>Developed</strong> strategic plans,
              <strong>designed</strong> and <strong>built</strong> the platform (Figma, Ruby On Rails, Javascript),
              <strong>analyzed</strong> metrics using GA and Hotjar,
              <strong>addressed</strong> user needs with custom features,
              <strong>built</strong> a community of 40 chefs, engaged 1000+ users via social media and newsletters
            </div>
            <ul class="4xsm:hidden md:block custom-list">
              <li>
                Developed strategic plans
              </li>
              <li>
                Designed and built the platform (Figma, Ruby On Rails, Javascript)
              </li>
              <li>
                Analyzed metrics using GA and Hotjar
              </li>
              <li>
                Addressed user needs with custom features
              </li>
              <li>
                Built a community of 40 chefs, engaged 1000+ users via social media and newsletters
              </li>
            </ul>`,
            `<div class="4xsm:block md:hidden">
              <strong>Guided</strong> diverse valuation projects shaping decisions for acquisitions and refinancing,
              <strong>developed</strong> financial models helping investment decisions and crafting business plans,
              <strong>built</strong> strong client relationships through insightful analysis and effective communication
            </div>
            <ul class="4xsm:hidden md:block custom-list">
              <li>
                Guided diverse valuation projects shaping decisions for acquisitions, restructurings, and refinancing
              </li>
              <li>
                Developed financial models helping investment decisions and crafting comprehensive business plans
              </li>
              <li>
                Built strong client relationships through insightful analysis and effective communication
              </li>
            </ul>
            <span class="block h-[1rem] md:mb-[-5.6rem] 2xl:h-[5.8rem]"></span>`,
            `<div class="4xsm:block md:hidden">
             <strong>Strengthened </strong> collective success through active cross-team work,
             <strong>explained </strong> balance sheet variations and impacts succinctly,
             <strong>produced </strong> monthly reports (LCR, NSFR) for compliance and risk management,
             <strong>analyzed </strong> Global Markets liquidity ratios.
            </div>
            <ul class="4xsm:hidden md:block custom-list">
              <li>
                Strengthened collective success through active cross-team work
              </li>
              <li>
                Explained balance sheet variations and impacts succinctly
              </li>
              <li>
                Produced crucial monthly reports (LCR, NSFR) for compliance and risk management
              </li>
              <li>
                Analyzed Global Markets liquidity ratios collaborating with Front Office teams
              </li>
            </ul>
            <span class="block md:mb-[-1.2rem] 2xl:h-[1.3rem]"></span>`,
            `<div class="4xsm:block md:hidden">
              <strong>Dual-Degree Mastery:</strong> Master in Management (Project Management, Marketing, Corporate Strategy, etc.),
              <br>
              <strong>Bootcamp in Web Development:</strong> learned coding languages & created dynamic web applications.
            </div>
            <ul class="4xsm:hidden md:block custom-list">
              <li>
                Dual-Degree Mastery: Master in Management (Project Management, Marketing, Corporate Strategy, etc.), Msc in Corporate Finance
              </li>
              <li>
                Web Development Proficiency: Web development bootcamp, achieving proficiency in coding languages creating dynamic web applications
              </li>
              <li>
                Self-Educated in Growth Marketing, Product Management, and Product Design
              </li>
            </ul>
            <span class="block md:mb-[-1rem] 2xl:mb-[-1.8rem]"></span>`,
          ];
          var slideTextsRight = [
            "Analytical skills, strong communication, problem-solving abilities... I'm well-positioned for success as a Product Manager",
            `<div class="4xsm:block md:hidden">
              User-Centric Problem Solving,
              Strategic Planning and Analysis,
              Web Development and Design,
              Community Building and Engagement,
              Data Analytics and Insights,
              Effective Communication and Marketing
            </div>
            <ul class="4xsm:hidden md:block custom-list md:mr-[74px]">
              <li>
                USER-CENTRIC PROBLEM SOLVING
              </li>
              <li>
                STRATEGIC PLANNING AND ANALYSIS
              </li>
              <li>
                WEB DEVELOPMENT AND DESIGN
              </li>
              <li>
                COMMUNITY BUILDING AND ENGAGEMENT
              </li>
              <li>
                DATA ANALYTICS AND INSIGHTS
              </li>
              <li>
                EFFECTIVE COMMUNICATION AND MARKETING
              </li>
            </ul>`,
            `<div class="4xsm:block md:hidden">
              Data-driven insights
              Financial strategy and modelling
              Client relationship management
              Cross functionnal collaboration
              Strategic decision-making
              Shaping strategies through impactful presentations
            </div>
            <ul class="4xsm:hidden md:block custom-list md:mr-[74px]">
              <li>
                DATA-DRIVEN INSIGHTS
              </li>
              <li>
                FINANCIAL STRATEGY & MODELLING
              </li>
              <li>
                CLIENT RELATIONSHIP MANAGEMENT
              </li>
              <li>
                CROSS-FUNCTIONAL COLLABORATION
              </li>
              <li>
                STRATEGIC DECISION-MAKING
              </li>
              <li>
                SHAPING STRATEGIES THROUGH IMPACTFUL PRESENTATIONS
              </li>
            </ul>`,
            `<div class="4xsm:block md:hidden">
              Financial Analysis and Liquidity Management,
              Cross-Team Collaboration and Communication,
              Regulatory Reporting,
              Technical-Financial Bridging,
              Balance Sheet Analysis
            </div>
            <ul class="4xsm:hidden md:block custom-list md:mr-[74px]">
              <li>
                FINANCIAL ANALYSIS AND LIQUIDITY MANAGEMENT
              </li>
              <li>
                CROSS-TEAM COLLABORATION AND COMMUNICATION
              </li>
              <li>
                REGULATORY REPORTING
              </li>
              <li>
                TECHNICAL-FINANCIAL BRIDGING
              </li>
              <li>
                BALANCE SHEET ANALYSIS
              </li>
            </ul>`,
            `<div class="4xsm:block md:hidden">
              Marketing, Communication, Corporate Strategy,
              Financial Analysis and Strategic Management,
              Project Management & Adaptability,
              Web Development & Product Design,
              Problem Solving
            </div>
            <ul class="4xsm:hidden md:block custom-list md:mr-[74px]">
              <li>
                MARKETING, COMMUNICATION, CORPORATE STRATEGY
              </li>
              <li>
                FINANCIAL ANALYSIS AND STRATEGIC MANAGEMENT
              </li>
              <li>
                PROJECT MANAGEMENT AND ADAPTABILITY
              </li>
              <li>
                WEB DEVELOPMENT AND PRODUCT DESIGN
              </li>
              <li>
                PROBLEM SOLVING
              </li>
            </ul>`,
          ];

          // Update the additional text section with the active slide text
          document.getElementById("activeCardTextLeft").innerHTML = slideTextsLeft[this.activeIndex];
          document.getElementById("activeCardTextRight").innerHTML = slideTextsRight[this.activeIndex];
          document.getElementById("activeCardTextLeftMobile").innerHTML = slideTextsLeft[this.activeIndex];
          document.getElementById("activeCardTextRightMobile").innerHTML = slideTextsRight[this.activeIndex];

          var additionalTextContainer = document.getElementById("additionalTextContainer");
          var containerFcContainer = document.getElementById("container-fc");

          if (this.activeIndex === 1) {
            if (window.innerWidth > 920) {
              additionalTextContainer.style.display = "flex";
              containerFcContainer.style.display = "flex";
              containerFcContainer.style.position = "absolute";
            } else {
              additionalTextContainer.style.display = "none";
              containerFcContainer.style.display = "none";
            }
          } else {
            additionalTextContainer.style.display = "none";
            containerFcContainer.style.display = "none";
          }

        },
      },
    });
  </script>
</body>

</html>
