<div>
  <div>
    <div>
      <div data-controller="title" data-action="scroll@window->title#updateTitleSize">
        <h1 class="title text-center mt-[100vh]">
          <span class="font-light"><%= t('firstname') %></span>
          <span class="font-bold"><%= t('lastname') %></span>
        </h1>
      </div>
    </div>
    <% if false %>
      <div class="pt-4 arrow flex justify-center">
        <div class="4xsm:ml-8 4xsm:text-xs 2xsm:text-base 2xsm:ml-8 md:ml-0 mt-10 4xsm:flex-1 4xsm:align-center md:flex-none font-bold pt-8">
          <%= t('who') %>
        </div>
        <div class="flex-1 align-center md:flex-none">
          <a class="link" href="#">
            <span class="link__arrow">
              <span></span>
              <span></span>
            </span>
            <span class="link__line"></span>
          </a>
        </div>
        <div class="4xsm:mr-8 4xsm:text-xs 2xsm:text-base 2xsm:mr-8 md:mr-0 mt-10 flex-1 align-center md:flex-none font-bold pt-8">
          <%= t('cv') %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="pt-44 mx-10 text-center">
    <h2><%= t('presentation') %></h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita temporibus deleniti sapiente consequatur nesciunt commodi non, provident, rem ducimus, repudiandae porro iure eius at in quasi architecto voluptatem aspernatur nemo tenetur repellat quam? Magni, temporibus vero eos nemo molestias cupiditate sequi architecto expedita dolorem quidem sed cumque at doloremque qui facilis quos voluptates tempore quasi reprehenderit officiis fuga quaerat deserunt numquam soluta. Quo inventore quia veniam? Perferendis obcaecati magni temporibus nihil, quae corrupti quasi minus? Unde quas saepe recusandae velit magni repellendus? Ducimus eveniet itaque illo dolorum, cumque, atque sunt fugit rerum temporibus aliquam odit in aperiam! Non nostrum quam ducimus, dolorum quas beatae enim deleniti animi unde. Perferendis sit quae cupiditate adipisci soluta ex quasi nihil laborum ratione excepturi fuga omnis dolorem, quisquam, aliquam quas et asperiores? Aspernatur soluta nostrum, delectus ratione atque alias vero excepturi nesciunt expedita ipsam iure, nulla, unde in quaerat quae repellendus dignissimos voluptas! Unde autem deserunt pariatur veritatis.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita temporibus deleniti sapiente consequatur nesciunt commodi non, provident, rem ducimus, repudiandae porro iure eius at in quasi architecto voluptatem aspernatur nemo tenetur repellat quam? Magni, temporibus vero eos nemo molestias cupiditate sequi architecto expedita dolorem quidem sed cumque at doloremque qui facilis quos voluptates tempore quasi reprehenderit officiis fuga quaerat deserunt numquam soluta. Quo inventore quia veniam? Perferendis obcaecati magni temporibus nihil, quae corrupti quasi minus? Unde quas saepe recusandae velit magni repellendus? Ducimus eveniet itaque illo dolorum, cumque, atque sunt fugit rerum temporibus aliquam odit in aperiam! Non nostrum quam ducimus, dolorum quas beatae enim deleniti animi unde. Perferendis sit quae cupiditate adipisci soluta ex quasi nihil laborum ratione excepturi fuga omnis dolorem, quisquam, aliquam quas et asperiores? Aspernatur soluta nostrum, delectus ratione atque alias vero excepturi nesciunt expedita ipsam iure, nulla, unde in quaerat quae repellendus dignissimos voluptas! Unde autem deserunt pariatur veritatis.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita temporibus deleniti sapiente consequatur nesciunt commodi non, provident, rem ducimus, repudiandae porro iure eius at in quasi architecto voluptatem aspernatur nemo tenetur repellat quam? Magni, temporibus vero eos nemo molestias cupiditate sequi architecto expedita dolorem quidem sed cumque at doloremque qui facilis quos voluptates tempore quasi reprehenderit officiis fuga quaerat deserunt numquam soluta. Quo inventore quia veniam? Perferendis obcaecati magni temporibus nihil, quae corrupti quasi minus? Unde quas saepe recusandae velit magni repellendus? Ducimus eveniet itaque illo dolorum, cumque, atque sunt fugit rerum temporibus aliquam odit in aperiam! Non nostrum quam ducimus, dolorum quas beatae enim deleniti animi unde. Perferendis sit quae cupiditate adipisci soluta ex quasi nihil laborum ratione excepturi fuga omnis dolorem, quisquam, aliquam quas et asperiores? Aspernatur soluta nostrum, delectus ratione atque alias vero excepturi nesciunt expedita ipsam iure, nulla, unde in quaerat quae repellendus dignissimos voluptas! Unde autem deserunt pariatur veritatis.</p>
    <div class="mt-32">
      <%= render 'shared/carousel' %>
    </div>
  </div>
</div>
