<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Swiper demo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
  <!-- Link Swiper's CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
  <!-- Demo styles -->
  <style>
    html,

    body {
      font-size: 10px;
      color: #FAF9F7;
      margin: 0;
      padding: 0px 0px;
    }

    body {
      background: #FAF9F7;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0px 0px;
    }

    html,
    body {
      position: relative;

    }

    body {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper {
      width: 240px;
      height: 320px;
      display: flex;
      justify-content: space-around;
      position: relative;
      bottom: 180px;
    }
    @media (max-width: 440px) {
      .swiper {
        width: 200px;
        height: 250px;
        bottom: 0px;
      }
    }

    .swiper-slide {
      display: flex;
      border-radius: 4px;
      padding: 20px 10px;
      margin-bottom: 40px;
      font-family: 'Inter';
      font-weight: 300;
      color: #fff;
    }

    .active-card-text {
      display: flex;
      justify-content: space-between;
      transform: translateY(-50%);
      padding: 10px;
    }

    .active-card-text-mobile {
      display: none;
    }

    @media (max-width: 440px) {
      .active-card-text {
        display: none;
      }
      .active-card-text-mobile {
        display: block;
        text-align: center;
      }
    }

    .swiper-slide:nth-child(1n) {
      background-color: #521945;
    }

    .swiper-slide:nth-child(2n) {
      background-color: #CC978E;
    }

    .swiper-slide:nth-child(3n) {
      background-color: #912F56;
    }

    .swiper-slide:nth-child(4n) {
      background-color: #0C4767;
    }

    .swiper-slide:nth-child(5n) {
      background-color: #808F85;
    }

    .arrow-path {
      fill: none;
      stroke: #FAF9F7;
      stroke-width: 2;
      stroke-dasharray: 200;
      stroke-dashoffset: 200;
      animation: drawLine 2s linear infinite, arrowAppear 2s linear infinite;
    }

    .arrow-line-upper {
      fill: none;
      stroke: #FAF9F7;
      stroke-width: 2;
      stroke-dasharray: 200;
      stroke-dashoffset: 200;
      animation: drawLine 2s linear infinite, arrowAppear 3s linear infinite;
    }
    .arrow-line-lower {
      fill: none;
      stroke: #FAF9F7;
      stroke-width: 2;
      stroke-dasharray: 200;
      stroke-dashoffset: 200;
      animation: drawLine 2s linear infinite, arrowAppear 3s linear infinite;
    }

    .highlight-container, .highlight {
      position: relative;
    }

    .highlight-container {
      display: inline-block;
    }
    .highlight-container:before {
      content: " ";
      display: block;
      height: 90%;
      width: 105%;
      margin-left: -3px;
      margin-right: -3px;
      position: absolute;
      background: #EAC435;
      transform: rotate(2deg);
      top: -1px;
      left: -1px;
      border-radius: 20% 25% 20% 24%;
      padding: 10px 3px 3px 10px;
    }

    .highlight-container2, .highlight2 {
      position: relative;
    }

    .highlight-container2 {
      display: inline-block;
    }
    .highlight-container2:before {
      content: " ";
      display: block;
      height: 90%;
      width: 120%;
      margin-left: -3px;
      margin-right: -3px;
      position: absolute;
      background: #295F7B;
      transform: rotate(2deg);
      top: -1px;
      left: -1px;
      border-radius: 20% 25% 20% 24%;
      padding: 10px 3px 3px 10px;
    }

    @keyframes drawLine {
      0% {
        stroke-dashoffset: 200;
      }
      100% {
        stroke-dashoffset: 0;
      }
    }

    @keyframes fade {
      0%, 49.9% {
        opacity: 0;
      }
      50%, 100% {
        opacity: 1;
      }
    }

    @keyframes arrowAppear {
      0%, 49.9% {
        transform: translateY(0);
      }
      50%, 100% {
        transform: translateY(0);
      }
    }



  </style>
</head>

<body>
  <!-- Swiper -->
  <div class="active-card-text">
    <div class="container active-card-text-left md:ml-24 max-w-[300px] min-x-[299px] text-center">
      <span class="highlight-container font-title uppercase md:text-[20px] md:text-bold"><span class="highlight">Achievements:</span></span><br>
      <span class="uppercase text-[12px] mt-4" id="activeCardTextLeft">Discover the accomplishments I've attained over my 6-year career and the progression that has steered me into Product Management</span>
    </div>
    <div class="active-card-text-right md:mr-24 max-w-[300px] min-x-[299px] text-center">
      <span class="highlight-container2 font-title uppercase md:text-[20px] md:text-bold"><span class="highlight2 text-backgroundcolor">Skills:</span></span><br>
      <span class="uppercase text-[12px] mt-4" id="activeCardTextRight" >Analytical skills, strong communication, problem-solving abilities... I'm well-positioned for success as a Product Manager</span>
    </div>
  </div>

  <div class="active-card-text-mobile">
    <div class="mb-8">
      <span class="highlight-container font-title uppercase font-bold"><span class="highlight">Achievements:</span></span><br>
      <div class="min-h-[80px] uppercase text-[12px] mt-4">
        <span id="activeCardTextLeftMobile">Discover the accomplishments I've attained over my 6-year career and the progression that has steered me into Product Management</span>
      </div>
    </div>
  </div>
  <div class="swiper mySwiper md:mt-[-120px]">
    <div class="swiper-wrapper text-center">
      <div class="swiper-slide">
        <div class="flex flex-col">
          <div class="4xsm:text-[14px] md:text-[18px] px-4">
            <span>
              <%= t('slide1-title') %>
            </span>
          </div>
          <div class="arrow-container pt-36 pl-16">
            <svg class="arrow-svg" width="120" height="60" viewBox="0 0 120 60" xmlns="http://www.w3.org/2000/svg">
              <path class="arrow-path" d="M10 30 Q40 25, 100 30" />
              <line class="arrow-line-upper" x1="100" y1="20" x2="115" y2="30" />
              <line class="arrow-line-lower" x1="100" y1="40" x2="115" y2="30" />
            </svg>
          </div>
        </div>
      </div>
      <div class="swiper-slide 4xsm:text-[14px] md:text-[18px]">
        <div class="flex flex-col">
          <div>
            <%= t('slide2-title.title') %>
          </div>
          <br>
          <div class="mx-auto 4xsm:h-24 4xsm:w-24 md:h-28 md:w-28"><%= image_tag ("Logo-fc.png") %></div>
          <br>
          <div class="4xsm:text-[12px] md:text-[14px]">
            <%= t('slide2-title.position') %>
          </div>
        </div>
      </div>
      <div class="swiper-slide 4xsm:text-[14px] md:text-[18px]"><%= t('slide3-title') %></div>
      <div class="swiper-slide 4xsm:text-[14px] md:text-[18px]"><%= t('slide4-title') %></div>
      <div class="swiper-slide 4xsm:text-[14px] md:text-[18px]"><%= t('slide5-title') %></div>
    </div>
  </div>
  <div class="active-card-text-mobile">
    <div class="active-card-text-right mt-8">
      <span class="highlight-container2 font-title uppercase font-bold"><span class="highlight2 text-backgroundcolor">Skills:</span></span><br>
      <div class="min-h-[80px] uppercase text-[12px] mt-4">
        <span id="activeCardTextRightMobile" >Analytical skills, strong communication, problem-solving abilities... I'm well-positioned for success as a Product Manager</span>
      </div>
    </div>
  </div>

  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".mySwiper", {
      effect: "cards",
      grabCursor: true,
      on: {
        slideChange: function () {
          // Array of text for each slide
          var slideTextsLeft = [
            "Discover the accomplishments I've attained over my 6-year career and the progression that has steered me into Product Management",
            "Discover the accomplishments I've attained over my 6-year career and the progression that has steered me into Product Manager",
            "Discover the accomplishments I've attained over my 6-year career and the progression that has steered me into Product Management",
            "Discover the accomplishments I've attained over my 6-year career and the progression that has steered me into Product Manager",
            "Discover the accomplishments I've attained over my 6-year career and the progression that has steered me into Product Management",
          ];
          var slideTextsRight = [
            "Analytical skills, strong communication, problem-solving abilities... I'm well-positioned for success as a Product Manager",
            "Analytical skills, strong communication, problem-solving abilities... I'm well-positioned for success as a Product Management",
            "Analytical skills, strong communication, problem-solving abilities... I'm well-positioned for success as a Product Manager",
            "Analytical skills, strong communication, problem-solving abilities... I'm well-positioned for success as a Product Management",
            "Analytical skills, strong communication, problem-solving abilities... I'm well-positioned for success as a Product Manager",
          ];

          // Update the additional text section with the active slide text
          document.getElementById("activeCardTextLeft").innerText = slideTextsLeft[this.activeIndex];
          document.getElementById("activeCardTextRight").innerText = slideTextsRight[this.activeIndex];
          document.getElementById("activeCardTextLeftMobile").innerText = slideTextsLeft[this.activeIndex];
          document.getElementById("activeCardTextRightMobile").innerText = slideTextsRight[this.activeIndex];
        },
      },
    });
  </script>
</body>

</html>
