<div class="h-[80vh] flex flex-col justify-center items-center font-title">
  <div data-controller="title" data-action="scroll@window->title#updateTitleSize">
    <h1>
      <span class="font-thin"><%= t('firstname') %></span>
      <span class="font-bold"><%= t('lastname') %></span>
    </h1>
  </div>
  <div class="mt-[-40px] arrow flex justify-center">
    <div class="4xsm:ml-8 4xsm:text-xs 2xsm:text-base 2xsm:ml-8 md:ml-0 mt-10 4xsm:flex-1 4xsm:align-center md:flex-none font-bold pt-8">
      <a href="#" onclick="scrollToSection('presentation-section', event)"><%= t('who') %></a>
    </div>
    <div class="flex-1 align-center md:flex-none">
      <a class="link" href="#presentation-section" onclick="scrollToSection('presentation-section', event)">
        <span class="link__arrow">
          <span></span>
          <span></span>
        </span>
        <span class="link__line"></span>
      </a>
    </div>
    <div class="4xsm:mr-8 4xsm:text-xs 2xsm:text-base 2xsm:mr-8 md:mr-0 mt-10 flex-1 align-center md:flex-none font-bold pt-8">
      <a href="#"><%= t('cv') %></a>
    </div>
  </div>
</div>
<section id="presentation-section" class="md:flex my-20 bg-black mx-10 rounded">
  <div class="text-backgroundcolor flex mx-16">
    <div class="flex-1 text-[25px] mb-8 font-bold tracking-tighter mt-8 ml-8">
      <%= t('title-presentation') %>
    </div>
    <div class="mx-[20vw] text-[32px] text-sm mt-12 py-8 leading-[1]">
      <%= t('presentation') %>
    </div>
  </div>
</section>
<div class="my-10">
  <span class="flex text-center justify-center font-body font-bold text-[30px] mb-8 z-[100]"><%= t('experience') %></span>
  <%= render 'shared/carousel' %>
</div>

<script>
  function scrollToSection(sectionId, event) {
    event.preventDefault(); // Prevent the default link behavior
    const section = document.getElementById(sectionId);
    if (section) {
      // Adjust the offset to scroll a bit less than the top
      const offset = 150; // Adjust this value as needed
      const scrollPosition = section.offsetTop - offset;
      window.scrollTo({ top: scrollPosition, behavior: 'smooth' });
    }
  }
</script>
