<div>
  <div class="bg-backgroundcolor rounded-b-[40px] mt-[-100px] 4xsm:pb-24 md:pb-12 md:pb-0">
    <div class="h-[100vh] flex text-black flex-col justify-center items-center font-title md:mt-[30px]">
      <div data-controller="title" data-action="scroll@window->title#updateTitleSize">
        <h1>
          <span class="font-thin"><%= t('firstname') %></span>
          <span class="font-black"><%= t('lastname') %></span>
        </h1>
      </div>
      <div class="mt-[-40px] arrow flex justify-center">
        <div class="text-black font-bold 4xsm:ml-8 4xsm:text-base 2xsm:ml-8 md:ml-0 md:text-xl mt-20 4xsm:flex-1 4xsm:align-center md:flex-none pt-8">
          <a href="#" onclick="scrollToSection('presentation-section', event)"><%= t('who') %></a>
        </div>
        <div class="flex-1 align-center md:flex-none">
          <a class="link" href="#presentation-section" onclick="scrollToSection('presentation-section', event)">
            <span class="link__arrow">
              <span></span>
              <span></span>
            </span>
            <span class="link__line"></span>
          </a>
        </div>
        <div class="text-black 4xsm:mr-8 4xsm:text-base 2xsm:mr-8 md:mr-0 md:text-xl mt-20 flex-1 align-center md:flex-none font-bold pt-8">
          <a href="#"><%= t('cv') %></a>
        </div>
      </div>
    </div>
    <section id="presentation-section" class="4xsm:mx-4 md:flex my-20 bg-black md:mx-[3.6rem] rounded md:px-5">
      <div class="text-backgroundcolor 4xsm:mx-8 md:mx-16 md:flex">
        <div class="pl-4 mt-8 4xsm:ml-1 md:flex md:flex-col md:ml-8">
          <div class="4xsm:text-[20px] 4xsm:pt-12 4xsm:pb-6 2xsm:text-[21px] font-title tracking-tighter md:pb-0 md:text-[25px] md:pt-0 md:mb-8 md:mt-8">
            <%= t('about') %>
          </div>
          <div class="4xsm:h-[10rem] 4xsm:w-[11rem] 4xsm:pr-[12px] 4xsm:float-left md:float-none md:h-80 md:w-80">
            <%= image_tag ("Max.png") %>
          </div>
          <div class="text-circle 4xsm:hidden md:block md:h-80 md:w-80 md:mb-20 md:mt-32">
            <%= image_tag ("Text-circle-2.png") %>
          </div>
        </div>
        <div class="md:flex md:flex-1 md:flex-col">
          <div class="uppercase font-title font-light text-backgroundcolor 4xsm:mb-4 4xsm:ml-[3vw] 4xsm:text-left 4xsm:text-[15px] md:mx-[10vw] md:mb-0 md:text-[30px] md:mt-12 md:py-8 leading-[1.4]">
            <%= t('presentation') %>
          </div>
          <div class="uppercase font-title font-light 4xsm:text-[12px] 4xsm:mx-[3vw] 4xsm:py-8 md:mx-[10vw] md:text-[18px] md:py-8 leading-[1.4] md:mb-8">
            <%= t('presentation2') %>
          </div>
          <div class="text-circle2 4xsm:mx-auto 4xsm:h-48 4xsm:w-48 md:hidden">
            <%= image_tag ("Text-circle-2.png") %>
          </div>
          <div id="scrollingText" class="scrolling-text dotted-line-box uppercase font-title font-light 4xsm:text-[11px] 4xsm:pb-10 md:pb-0 md:py-4 md:mx-[8vw] md:text-[18px] md:py-8 leading-[1.4] md:mt-16">
            <div class="section">
              <%= t('current-focus') %>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="text-black 4xsm:mt-16 4xsm:mx-8 md:mx-16 md:mt-32">
      <div class="4xsm:text-[20px] 4xsm:ml-4 2xsm:text-[21px] md:text-[25px] font-title tracking-tighter md:ml-24"><%= t('experience') %></div>
      <div class="4xsm:mt-20 md:mt-[20rem]">
        <%= render 'shared/carousel' %>
      </div>
    </div>
  </div>
  <div class="bg-black 4xsm:mt-20 4xsm:mx-14 md:mx-40 md:mt-32">
    <div class="flex items-baseline mb-16 font-title text-backgroundcolor tracking-tighter mt-8">
      <div class="4xsm:text-[20px] 2xsm:text-[21px] md:text-[25px]">
        <%= t('contact') %>
      </div>
      <div class="text-[14px] italic ml-4">
        <%= t('contact-sub') %>
      </div>
    </div>
    <%= render 'shared/board' %>
  </div>
  <div class="text-backgroundcolor flex justify-between items-baseline 4xsm:mb-4 4xsm:mt-20 4xsm:mx-10 md:mt-40 md:mb-10 md:mx-40">
    <a href="https://www.linkedin.com/in/maxime-plasse-35384460/" target="_blank">LINKEDIN</a>
    <p class="italic text-sm">Designed and developped by Maxime Plasse</p>
  </div>
</div>


<script>
  function scrollToSection(sectionId, event) {
    event.preventDefault();
    const section = document.getElementById(sectionId);
    if (section) {
      const offset = -20;
      const scrollPosition = section.offsetTop - offset;
      window.scrollTo({ top: scrollPosition, behavior: 'smooth' });
    }
  }

  window.addEventListener('scroll', () => {
    const image = document.querySelector('.text-circle');
    const image2 = document.querySelector('.text-circle2');

    const scrollY = window.scrollY;

    const rotationAngle = scrollY * 0.5;

    image.style.transform = `rotate(${rotationAngle}deg)`;
    image2.style.transform = `rotate(${rotationAngle}deg)`;
  });

  document.addEventListener("DOMContentLoaded", function () {
    const sections = document.querySelectorAll(".section");
    const windowHeight = window.innerHeight;
    const scrollStart = windowHeight; // Adjust the scroll start position as needed

    const animateSections = () => {
      sections.forEach((section, index) => {
        const sectionTop = section.getBoundingClientRect().top;

        if (sectionTop < scrollStart) {
          const scrollDistance = Math.max(0, scrollStart - sectionTop);
          const scrollProgress = Math.min(1, scrollDistance / windowHeight);

          const lightness = 35 + Math.round(90 * scrollProgress); // Adjust the lightness value

          const color = `hsl(0, 0%, ${lightness}%)`;

          section.style.color = color;
        } else {
          section.style.color = "#FAF9F7";
        }
      });
    };

    animateSections(); // Call the function on initial load

    // Call the function when scrolling
    window.addEventListener("scroll", animateSections);
  });




</script>
